@model ProjMediaCollection.Models.MovieViewModels.DetailMovieViewModel

<strong>Title</strong>
<p>@Model.Title</p>
<strong>Cover</strong>

@if (Model.Cover != null)
{
    <p><img src="data:image;base64,@System.Convert.ToBase64String(Model.Cover)" width="160" height="205" /></p>
}
else
{
    <p>Geen foto beschikbaar</p>
}
<p><strong>Release</strong></p>
<p>@Model.Releas</p>

<p><strong>Director</strong></p>
<p>@Model.Director</p>

<p><strong>Duration</strong></p>
<p>@Model.Duration</p>

<p><strong>Description</strong></p>
<p>@Model.Description</p>

<p><strong>Genre</strong></p>
@foreach (var item in Model.MovieGenreTagDetails)
{
    <p>@item.Name</p>
}



<form method="post">
    <a asp-action="EditMovie" asp-controller="Movie" asp-route-id="@Model.Id">Edit</a>
    @*<button class="btn btn-primary" asp-controller="Movie" asp-action="EditMovie" asp-route-id="@Model.Id">Edit</button>*@

</form>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TcMBFSGVi1c" allowfullscreen></iframe>
</div>


@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Movie" asp-action="AddReview" asp-route-id="@Model.Id">

        <div>
            <label asp-for="CreateRating.Rating">Rating</label>
            <input class="form-control" asp-for="CreateRating.Rating" />
            <span class="text-danger" asp-validation-for="CreateRating.Rating"></span>
            <p></p>
            <p><label asp-for="CreateRating.Review">Review</label></p>
            <textarea asp-for="CreateRating.Review" cols="100" rows="10"></textarea>
            <span class="text-danger" asp-validation-for="CreateRating.Review"></span>

            <p><button class="btn btn-success" type="submit"> Add Review</button></p>

        </div>

    </form>
}

@foreach (var item in Model.MovieReviews)
{
    <p><u><strong>@item.UserName</strong></u></p>
    <strong>Score</strong>
    <p>@item.Rating/10</p>
    <strong>Review</strong>
    <p>@item.Review</p>
}