@model ProjMediaCollection.Models.SerieViewModels.DetailSerieViewModel

@*<strong>Title</strong>
<p>@Model.Title</p>

@if (Model.Cover != null)
{
    <p><img src="data:image;base64,@System.Convert.ToBase64String(Model.Cover)" width="280" height="410" /></p>
}
else
{
    <p> geen foto beschikbaar</p>
}

<strong>Genre</strong>
@foreach (var item in Model.SerieGenreTagDetails)
{
    <p>@item.Name</p>
}

<strong>Seasons</strong>
@if (Model.SeasonsToAddToSerie != null)
{

    @foreach (var season in Model.SeasonsToAddToSerie)
    {
        if (season != null)
        {
            <p>@season.Title</p>
        }

        <p><a asp-controller="Serie" asp-action="DetailSeason" asp-route-id="@season.Id"><img src="data:image;base64,@System.Convert.ToBase64String(season.Cover)" width="160" height="205" /></a></p>

        @*<a asp-action="DetailSerie" asp-controller="Serie" asp-route-id="@season.Id">Detail</a>
    }

}*@


@*<form method="post">
    @*<a asp-action="EditAlbum" asp-controller="Music" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="AddSeason" asp-controller="Serie" asp-route-id="@Model.Id">Add Season</a>
    <button class="btn btn-primary" asp-controller="Movie" asp-action="EditMovie" asp-route-id="@Model.Id">Edit</button>

</form>*@


    <div class="detailMovie col-md-6">

        <strong>Title</strong>
        <p>@Model.Title</p>
        <strong>Cover</strong>
        <strong>Genre</strong>

        @if (Model.Cover != null)
        {
            <p><img src="data:image;base64,@System.Convert.ToBase64String(Model.Cover)" width="160" height="205" /></p>
        }
        else
        {
            <p>Geen foto beschikbaar</p>
        }
        @foreach (var item in Model.SerieGenreTagDetails)
        {
            <p>@item.Name</p>
        }


    </div>


<div class="detailMovie col-md-6">
    <table class="table">
        <tr>
            <td>
                <p><strong>Title</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>@Model.Title</p>
            </td>
        </tr>

        <tr>
            <td>
                <strong>Seasons</strong>
            </td>
        </tr>
        @if (Model.SeasonsToAddToSerie != null)
        {

            @foreach (var season in Model.SeasonsToAddToSerie)
            {
                if (season != null)
                {
                    <tr>
                        <td>
                            <p>@season.Title</p>
                            <p><a asp-controller="Serie" asp-action="DetailSeason" asp-route-id="@season.Id"><img src="data:image;base64,@System.Convert.ToBase64String(season.Cover)" width="160" height="205" /></a></p>
                        </td>
                    </tr>

                }



                @*<a asp-action="DetailSerie" asp-controller="Serie" asp-route-id="@season.Id">Detail</a>*@
            }

        }


        @*<tr>
            <td>
                <p><strong>Director</strong></p>
                <p>@Model.Director</p>
            </td>
        </tr>

        <tr>
            <td>
                <p><strong>Duration</strong></p>
                <p>@Model.Duration</p>
            </td>
        </tr>

        <tr>
            <td>
                <p><strong>Description</strong></p>
                <p id="detail">@Model.Description</p>
            </td>
        </tr>

        <tr>
            <td>
                <p><strong>Genre</strong></p>
                @foreach (var item in Model.MovieGenreTagDetails)
                {
                    <p>@item.Name</p>
                }
            </td>
        </tr>*@

    </table>
</div>

<form method="post">
    @*<a asp-action="EditAlbum" asp-controller="Music" asp-route-id="@Model.Id">Edit</a>*@
    <a asp-action="AddSeason" asp-controller="Serie" asp-route-id="@Model.Id">Add Season</a>
    @*<button class="btn btn-primary" asp-controller="Movie" asp-action="EditMovie" asp-route-id="@Model.Id">Edit</button>*@

</form>

@*<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="@Model.UrlTrailer" allowfullscreen></iframe>
</div>


@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Movie" asp-action="AddReview" asp-route-id="@Model.Id">

        <div>
            <label asp-for="CreateRating.Rating">Rating</label>
            <input max="10" min="0" id="ratingField" class="form-control" asp-for="CreateRating.Rating" />
            <span class="text-danger" asp-validation-for="CreateRating.Rating"></span>
            <p></p>
            <p><label asp-for="CreateRating.Review">Review</label></p>
            <textarea asp-for="CreateRating.Review" cols="100" rows="10"></textarea>
            <span class="text-danger" asp-validation-for="CreateRating.Review"></span>

            <p><button class="btn btn-success" type="submit"> Add Review</button></p>

        </div>

    </form>
}

<table class="table">

    @foreach (var item in Model.MovieReviews)
    {
        <tr>
            <td>
                <p><u><strong>@item.UserName</strong></u></p>
                <strong>Score</strong>
                <p>@item.Rating/10</p>
                <strong>Review</strong>
                <p id="Review">@item.Review</p>
            </td>
        </tr>

    }

</table>*@


