@model ProjMediaCollection.Models.SerieViewModels.DetailSerieViewModel

    <div class="container">

        <h1 class="PageTitle"><a asp-action="IndexSerie" asp-controller="Serie">Series</a> / @Model.Title</h1>


        <div class="col-md-6">
            <div class="row">
                @*<h1>@Model.Title</h1>*@

                @if (Model.Cover != null)
                {
                    <p><img class="FilmCover" src="data:image;base64,@System.Convert.ToBase64String(Model.Cover)" /></p>
                }
                else
                {
                    <p>Geen foto beschikbaar</p>
                }
                <p>
                    @*@Model.Releas.Date.ToShortDateString() | @Model.Duration |*@ @foreach (var item in Model.SerieGenreTagDetails)
                    {<span>@item.Name </span>}|
                    @*<p><strong>Director</strong></p>
                    <p>@Model.Director</p>*@
                <p></p>
            </div>

            <div class="row">
                <form method="post">
                    <a asp-action="EditMovie" asp-controller="Movie" asp-route-id="@Model.Id">Edit</a>
                    @*<button class="btn btn-primary" asp-controller="Movie" asp-action="EditMovie" asp-route-id="@Model.Id">Edit</button>*@

                </form>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>

            @*<div class="row">
                <table class="table">
                    <tr>
                        <td>
                            <h3>What's your opinion?</h3>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <form asp-controller="Movie" asp-action="AddReview" asp-route-id="@Model.Id">

                    <div>
                        <label asp-for="CreateRating.Rating">Rating</label>
                        <input max="10" min="0" id="ratingField" class="form-control" asp-for="CreateRating.Rating" />
                        <span class="text-danger" asp-validation-for="CreateRating.Rating"></span>
                        <p></p>
                        <p><label asp-for="CreateRating.Review">Review</label></p>
                        <textarea asp-for="CreateRating.Review" cols="65" rows="10"></textarea>
                        <span class="text-danger" asp-validation-for="CreateRating.Review"></span>

                        <p>
                            <button class="btn btn-success" type="submit"> Add Review</button>
                        </p>

                    </div>

                </form>


            </div>*@
        </div>


        <div class="col-md-6">
            <div class=" row">

                <form method="post">
                    <a asp-action="AddSeason" asp-controller="Serie" asp-route-id="@Model.Id">Add Season</a>
                </form>
                @*<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@Model.UrlTrailer" allowfullscreen></iframe>
            </div>

            <table class="table">
                <tr>
                    <td class="Discription">

                        <p id="detail">@Model.Description</p>
                    </td>
                </tr>
            </table>
        </div>*@


  

            @if (Model.SeasonsToAddToSerie != null)
            {

                @foreach (var season in Model.SeasonsToAddToSerie)
                {

                <button class="accordion">@season.Title </button>

                <div class="panel">
                    <table class="table">
                        @if (season != null)
                        {
                            <tr>
                                <td>

                                    <p><a asp-action="AddEpisode" asp-controller="Serie" asp-route-id="@season.Id">Add Episode</a></p>
                                </td>
                            </tr>

                        }

                        @foreach (var item in season.EpisodesForSeason)
                        {
                            <tr>
                                <td>
                                    <p>@item.Title</p>
                                    @if (item.Picture != null)
                                    {
                                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" width="200" height="150" />
                                    }

                                    <p>@item.Description</p>
                                </td>
                            </tr>


                        }
                    </table>
                </div>


                }

             }




                <div class="row">

                    <table class="table">

                        <tr>
                            <td>
                                <h3>User Reviews</h3>
                            </td>
                        </tr>

                        @*@foreach (var item in Model.MovieReviews)
                {
                    <tr>
                        <td>
                            <p><u><strong>@item.UserName</strong></u></p>
                            <strong>Score</strong>
                            <p>@item.Rating/10</p>
                            <strong>Review</strong>
                            <p id="Review">@item.Review</p>
                        </td>
                    </tr>

                }*@

                    </table>

                </div>


            </div>
    </div>
</div>
