@model ProjMediaCollection.Models.UserViewModels.MyMovieIndexViewModel

@*<form asp-action="MyMovieIndex" asp-controller="User" method="get">

</form>*@

    <td><a asp-action="CreateMovieList" asp-controller="User">Create new List</a></td>
    <table class="table">
        <tr>
            <th>playlistId</th>
            <th>playlistname</th>
            <th>moviename</th>
            <th>covers</th>
        </tr>
        @foreach (var item in Model.MyMoviePlayList)
        {
            @foreach (var movie in item.MyMoviesLists)
            {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>

        <td>@Html.Label(movie.Title)</td>
        <td>
            @movie.Id
            @if (movie.Cover != null)
            {
                <a asp-controller="movie" asp-action="detailmovie" asp-route-id="@movie.Id">  <img src="data:image;base64,@System.Convert.ToBase64String(movie.Cover)" width="280" height="410" /></a>
            }
            else
            {
                <p>geen foto beschikbaar</p>
            }



        </td>


    </tr>}
        }
    </table>