@model ProjMediaCollection.Models.UserViewModels.MyMusicIndexViewModel

@*<form asp-action="MyMovieIndex" asp-controller="User" method="get">

</form>*@

    <td><a asp-action="CreateMovieList" asp-controller="User">Create new List</a></td>
    <table class="table">
        <tr>
            <th>playlistId</th>
            <th>playlistname</th>
            <th>moviename</th>
            <th>covers</th>
        </tr>
        @foreach (var item in Model.MyMusicPlaylist)
        {
            @foreach (var music in item.MySelectedMusic)
            {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>

        <td>@Html.Label(music.Title)</td>
        <td>
            @music.Id
            @if (music.Cover != null)
            {
                <a asp-controller="Music" asp-action="detailmovie" asp-route-id="@music.Id">  <img src="data:image;base64,@System.Convert.ToBase64String(music.Cover)" width="280" height="410" /></a>
            }
            else
            {
                <p>geen foto beschikbaar</p>
            }



        </td>


    </tr>}
        }
    </table>