@model ProjMediaCollection.Models.UserViewModels.MyMusicIndexViewModel
@*<form asp-action="MyMovieIndex" asp-controller="User" method="get">

    </form>*@

<td><a asp-action="CreateMusicPlaylist" asp-controller="User">Create new List</a></td>
<table class="table">
    <tr>
        <th>playlistId</th>
        <th>playlistname</th>
        <th>moviename</th>
        <th>covers</th>
    </tr>
    @foreach (var item in Model.MyMusicPlaylist)
    {
        @foreach (var album in item.MySelectedMusic)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>

                <td>@Html.Label(album.Title)</td>
                <td>
                    @album.Id
                    @if (album.Cover != null)
                    {
                        <a asp-controller="music" asp-action="DetailAlbum" asp-route-id="@album.AlbumId">  <img src="data:image;base64,@System.Convert.ToBase64String(album.Cover)" width="160" height="205" /></a>
                    }
                    else
                    {
                        <p>geen foto beschikbaar</p>
                    }



                </td>


            </tr>}
    }
</table>